* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

/*Small Mobile*/
body{
  width: 640px;
  height: 960px;
  padding:0;
  margin: 0;
  background-color: lightgrey;
  color: darkgray;
  font-family: 'Open Sans'; 
}

header{
    height: 125px;
    background-color: midnightblue;
    padding-top: 5px;
}

h1{
  padding-left: 20px;
  float: left
}

header nav ul{
  padding-left: 250px;
  padding-top: 65px
}

header nav ul li{
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  padding: 0 0 0 30px;
}

header nav ul li a{
  text-decoration: none;
  color: darkgray
}

nav a:hover{
  background-color: darkgray;
  border-radius: 20px;
  padding: 2px;
  color: midnightblue;
  font-style: italic;
}

button{
  margin: 0;
  background-color: midnightblue;
  color: darkgray;
  font-size: 20px;
  font-family: 'Open Sans';
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
}

button:hover{
  background-color: white;
  color: midnightblue;
  border: 2px solid midnightblue;
  font-style: italic;
}

h3 div a{
   text-decoration: none;
}

.img-contain{
  width: 640px;
  height: 430px;
  background: url(../images/mtns.jpg) no-repeat center top;
  background-size: cover;
  border: 1px solid midnightblue;
}

.img-contain div{    
  padding-left: 254px;
  padding-top: 15px;
}

.img-contain h3{
  color: midnightblue;
  text-align: center;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 50px;
}

.img-contain-two{
  margin: auto;
  width: 640px;
  height: 230px;
  background: url(../images/mtns.jpg) no-repeat center bottom;
  background-size: cover;
}

section ul li{
  list-style-type: none;
}

section h2{
  color: midnightblue;
  padding-left: 10px
}

section ul li{
  color: midnightblue;
  padding-right: 192px;
}

.img-contain-two p.quote{
  font-weight: bold;
  color: white;
  padding: 70px 0 0 0;
  text-align: center;
  font-style: italic;
}
.img-contain-two p{
  font-weight: 800;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

footer nav ul{
  padding-left: 200px
}

footer nav ul li{
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  padding: 0 0 0 30px;
}

footer nav ul li a{
  text-decoration: none;
  color: darkgray
}

footer{
  height: 100px;
  width: 100%;
  background-color: midnightblue;
}

footer a{
  text-decoration: none;
  font-size: 15px
}

#main #contact h3{
  color: midnightblue;
  padding-left: 20px
}

form{
  height: 575px;
  width: 500px
}

label{
  color: midnightblue;
  font-weight: 600;
  display: block;
  margin-right: 100px;
  clear: both;
  float: left;
  line-height: 80px;
  padding-left: 50px;
  outline: none;
}

#name{
  margin-top: 31px
}

#email{
  margin-top: 31px
}

#phone{
  margin-top: 31px
}

#state{
  margin-top: 31px
}

select{
 height: 45px;
 padding-left: 50px;
 margin-top: 500px
}

#password{
  margin-top: 31px
}

#terms{
   margin-top: 67px;
   position: relative;
   right: 126px
}

#terms-box{
    margin-top: 113px;
    margin-left: -146px;
}

input, select{
  float: right;
  border: none;
  border-bottom: solid 1px #000;
  line-height: 80px;
}

ul li{
  clear: both;
  line-height: 20px;
  margin-bottom: 10px;
}

input[type="checkbox"]{
  float: left;
}

input[type="checkbox"] + label{
  clear: none;
  margin-top: 10px;
  display: inline-block;
  line-height: 0;
  padding: 0;
}

input[type="submit"]{
  background-color: midnightblue;
  border: solid 1px white;
  font-size: 14px;
  color: #fff;
  margin-top: -15px;
}

/*----------------------Mobile----------------------*/
@media(min-width: 750px){
body{
  width: 960px;
  padding:0;
  margin: 0;
  background-color: lightgrey;
  color: darkgray;
  font-family: 'Open Sans'; 
}

header{
  height: 120px;
  background-color: midnightblue;
  padding-top: 5px;
}

header nav ul{
  padding-left: 550px
}

header nav ul li{
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  padding: 0 0 0 30px;
}

.img-contain div{    
  padding-left: 418px;
}

.img-contain{
  width: 960px;
  height: 650px;
  background: url(../images/mtns.jpg) no-repeat center top;
  background-size: cover;
  border: 1px solid midnightblue;
}

.img-contain h3{
  font-style: italic;
  font-size: 25px;
  padding-top: 80px;
  padding-left: 20px;
  margin-top: 50px;
}

section h2{
  color: midnightblue;
  padding-left: 320px
}

section ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-right: 100px;
   color: midnightblue;
  padding-left: 60px;
}

.img-contain-two{
  margin: auto;
  width: 960px;
  height: 230px;
  background: url(../images/mtns.jpg) no-repeat center top;
  background-size: cover;
}

.img-contain-two p.quote{
  font-weight: bold;
  color: midnightblue;
  padding: 50px 250px 0 220px;
  text-align: center;
  font-style: italic;
}

.img-contain-two p{
  font-weight: 800;
  color: midnightblue;
  text-align: center;
  font-style: italic;
  padding-left: 100px;
  font-size: 18px
}


form{
  margin-left: 25px;
  height: 575px;
}

label{
  display: block;
  margin-right: 100px;
  clear: both;
  float: left;
  line-height: 60px;
}

input, select{
  float: right;
  border: none;
  border-bottom: solid 1px #000;
  line-height: 40px;
}

select{
 height: 45px;
}

ul li{
  clear: both;
  line-height: 20px;
  margin-bottom: 10px
}

input[type="radio"], input[type="checkbox"]{
  float: left;
}

input[type="checkbox"] + label{
  clear: none;
  margin-top: 10px;
  display: inline-block;
  line-height: 0;
  padding: 0;
}

input[type="submit"]{
  background-color: midnightblue;
  border: solid 1px white;
  font-size: 14px;
  color: #fff
}

/*----------------------Tablet & Desktop----------------------*/
/*@media(min-width: 1200px){
body{
    height: 1000px;
    width: 1440px;
    padding:0;
    margin: 0;
    background-color: lightgrey;
    color: darkgray;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
}

header{
    height: 120px;
    background-color: midnightblue;
    padding-top: 5px;
}

h1{
   margin: 0; 
   padding: 5px 0 0 50px;
}

header nav{
    width: 100%;
}

header nav ul{
    padding: 0 0 5px 800px;
    font-size: 20px;
}

header nav ul li{
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    list-style-type: none;
    padding: 0 0 0 30px;
}

form{
  margin-left: 25px;
  height: 575px;
}

label{
  display: block;
  margin-right: 100px;
  clear: both;
  float: left;
  line-height: 60px;
}

input, select{
  float: right;
  border: none;
  border-bottom: solid 1px #000;
  line-height: 40px;
}

select{
 height: 45px;
}

ul li{
  clear: both;
  line-height: 20px;
  margin-bottom: 10px
}

input[type="radio"], input[type="checkbox"]{
  float: left;
}

input[type="checkbox"] + label{
  clear: none;
  margin-top: 10px;
  display: inline-block;
  line-height: 0;
  padding: 0;
}

input[type="submit"]{
  background-color: midnightblue;
  border: solid 1px white;
  font-size: 14px;
  color: #fff
}*/